In [86]:
import pandas as pd
import numpy as np

# 5.1 Introduction to pandas Data Structures

### Series

In [87]:
# A Series is a one-dimensional array-like object containing a sequence of values and an associated array of data labels, called its index.

In [88]:
obj = pd.Series([4, 7, -5, 3])

In [89]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

And so on...

In [90]:
obj.values

array([ 4,  7, -5,  3])

In [91]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [92]:
# You can ceate a Series with an index identifying each data point with a label
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [93]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [94]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [95]:
# Compared to Numpy arrays, you can use labels in the index when selecting single values or a set of values
obj2['a']

-5

In [96]:
obj2['d']

4

In [97]:
# ['c', 'a', 'd'] is interpreted as a list of indices, even though it contains strings instead of integers.
obj2[['c', 'a', 'd']]

c    3
a   -5
d    4
dtype: int64

In [98]:
# Using NumPy functions or NumPy-like operations, such as filtering with a boolean array, scalar multiplication, or applying math functions, will preserve the index-value link:

In [99]:

obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

In [100]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [101]:
# Numpy Exponent of object 2
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [102]:
# A Series could be a fixed-length, ordered dict, as it is a map‐ ping of index values to data values

In [103]:
'b' in obj2

True

In [104]:
'e' in obj2

False

In [105]:
# If data is contained in a python dict, create a series from it by passing the dict:

In [125]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [126]:
# When you are only passing a dict, the index in the resulting Series will have the dict’s keys in sorted order. You can override this by passing the dict keys in the order you want them to appear in the resulting Series:

In [131]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4= pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [134]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [135]:
# since no value for 'California' was found, it appears as NaN (not a number), which is con‐ sidered in pandas to mark missing or NA values. Since 'Utah' was not included in states, it is excluded from the resulting object.

In [136]:
# The isnull and notnull functions in pandas should be used to detect missing data:

In [137]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [138]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [139]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [140]:
# Series aligns by index label in arithmetic operations:

In [141]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [142]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [143]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [144]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [145]:
# A Series’s index can be altered in-place by assignment: